#
# riposte.conf.sample - Riposte sample configuration file.
#
# Rename this file to riposte.conf and customize it as desired. You must restart
# Riposte before configuration changes will take effect.
#

# Settings for production mode.
Configuration.for("riposte_production") {

  # Connection URI for the production database. Currently SQLite3 and MySQL are
  # supported. PostgreSQL may work, but hasn't been tested.
  #
  # Sample SQLite3 connection string:
  #   sqlite:////absolute/path/to/database.db
  #
  # Sample MySQL connection string:
  #   mysql://user:pass@hostname/database
  #
  # db "sqlite:///#{Ramaze::APPDIR}/db/production.db"

  site {

    # Name of your blog. This will be displayed as the title of your blog's
    # index page and in your blog's feeds.
    #
    # name "New Riposte Blog"
    
    # A brief description or subtitle for your blog.
    #
    # desc "Riposte is awesome!"
    
    # Base URL of your site. This is necessary in order for Riposte to know how
    # to construct links.
    #
    # url "http://localhost:7000/"

  }
  
  admin {
    # Your name. This will be displayed in the copyright notice at the bottom of
    # the page, and will be used as the author name for your site's feeds.
    #
    # name "John Doe"

    # Your email address. If you leave this blank or comment it out, it won't be
    # displayed.
    #
    # email ""
    
    # Administrator username. This is the name you'll use to log into Riposte.
    #
    # user "riposte"
    
    # Administrator password.
    #
    # pass "riposte"
    
    # String of random characters to add uniqueness to the admin auth cookie.
    # You should uncomment this now and fill it with nonsense.
    #
    # seed "43c55@051a19a/4f88a3ff+355cd1418"
  }

  theme {

    # Absolute path to a directory containing customized static files such as
    # CSS, JS, and images. Use this in conjunction with the "view" setting to
    # create your own customized Riposte theme. Any files in this directory will
    # override the corresponding default files.
    #
    # public "#{Ramaze::APPDIR}/custom/public"
  
    # Absolute path to a directory containing customized view templates. Any
    # templates in this directory will override the corresponding default
    # templates.
    #
    # view "#{Ramaze::APPDIR}/custom/view"
    
  }

  timestamp {

    # Format for long timestamps. For details, see:
    # http://www.ruby-doc.org/core/classes/Time.html#M000297
    #
    # long "%A %B %d, %Y @ %I:%M %p (%Z)"
    
    # Format for short timestamps. For details, see:
    # http://www.ruby-doc.org/core/classes/Time.html#M000297
    #
    # short "%Y-%m-%d %I:%M"

  }

  server {

    # IP address on which the Riposte server should listen for connections.
    #
    # address "0.0.0.0"
    
    # Port on which the Riposte server should listen for connections.
    #
    # port 7000
    
    # Whether or not to enable caching. Enabling caching will significantly
    # improve Riposte's performance under heavy traffic, but new comments and
    # other changes may take a minute or two to become visible.
    #
    # enable_cache true

    # Filename to which errors should be logged when running in production mode,
    # or blank if you don't care about errors.
    #
    # error_log "#{Ramaze::APPDIR}/error.log"

  }

}

# Settings for devel mode. All defaults except db are the same as production
# mode.
Configuration.for("riposte_devel") {

  # Connection URI for the devel database. Currently SQLite3 and MySQL are
  # supported. PostgreSQL may work, but hasn't been tested.
  #
  # Sample SQLite3 connection string:
  #   sqlite:////absolute/path/to/database.db
  #
  # Sample MySQL connection string:
  #   mysql://user:pass@hostname/database
  #
  # db "sqlite:///#{Ramaze::APPDIR}/db/devel.db"

}
