<h2>Delete Comment</h2>

<p>
  Are you sure you want to permanently delete the following comment?
</p>

<%= render_view(:comment, :comment => @comment) %>

<form action="<%= rs(:delete, @comment.id) %>" method="post">
  <p>
    <input type="hidden" name="token" value="<%== form_token %>" />
    <button name="confirm" value="yes">Yes, delete this comment forever</button>
    <button name="confirm" value="no">No, do not delete this comment</button>
  </p>
</form>
