<h2>Upload Media</h2>

<% if @success %>
  <p>
    The following file was uploaded successfully.
  </p>

  <%= render_template(:media, :mfile => @file) %>
<% else %>
  <% if @media_error %>
    <div class="error"><%= @media_error %></div>
  <% end %>

  <%= render_template(:form, :form_action => @form_action) %>
<% end %>
