/* -- Toolbar Login Form ---------------------------------------------------- */
#adminToolbar form {
  float: right;
  margin: 0;
}

#adminToolbar form div { display: inline; }

/* -- Toolbar Icons --------------------------------------------------------- */
.toolbar {
  background: #f5f5f5;
  border: 1px solid #dfdfdf;
  padding: 3px 4px 4px 4px;
}

.toolbar ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 6px;
}

.toolbar ul.edit { padding-left: 0; }
.toolbar ul.tools { border-left: 1px solid #dfdfdf; }

.toolbar ul:after {
  clear: left;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.toolbar ul li {
  float: left;
  margin-left: 1px;
}

.toolbar ul li:first-child { margin-left: 0; }

.toolbar a {
  border: 1px solid transparent;
  cursor: pointer;
  display: block;
  padding: 3px 3px 0 3px;
}

.toolbar a:hover {
  background: #dfebff;
  border: 1px solid #0A46AF;
}

.toolbar a img {
  border: 0;
  height: 16px;
  width: 16px;
}

@media print {
  .toolbar { display: none; }
}

/* -- Mini-Toolbar ---------------------------------------------------------- */
.toolbar.mini {
  background: none;
  border: 0;
  padding: 0;
}

/* -- Comment Mini-Toolbar -------------------------------------------------- */
.comment { position: relative; }

.comment .toolbar {
  position: absolute;
  right: -3px;
  top: 3px;
}

/* -- Misc. Forms ----------------------------------------------------------- */
form table th {
  padding-right: 0.5em;
  text-align: right;
}

form table tr { vertical-align: top; }
form table tr.tip { font-size: 93%; }

form table tr.tip ul {
  margin-left: 1.3em;
  padding-left: 0;
}

form table tr.tip ul li { margin-bottom: 0.5em; }

form table tfoot td {
  padding-top: 1em;
  text-align: right;
}

#title,
#body,
#tags { width:100%; }

#name{ width: 20em; }

/* -- Lists ----------------------------------------------------------------- */
table.list {
  width: 100%;
}

table.list th,
table.list td { padding: 1px 2px 1px 2px; }

table.list thead th {
  font-weight: bold;
  text-align: left;
}

table.list tbody tr.odd { background: #fff; }
table.list tbody tr.even { background: #e7f2ff; }
table.list tbody tr:hover { background: #d0dbf7; }

table.list tbody td { border: 1px solid transparent; }
table.list tbody tr:hover td { border: 1px solid #9ab3f7; }

table.list td.title { width: 100%; }

table.list td.created,
table.list td.updated { white-space: nowrap; }

table.pages td.name { white-space: nowrap; }

table.comments td.title { width: 70%; }

table.media td.filename { width: 100%; }
table.media td.type { white-space: nowrap; }
table.media td.size { text-align: right; }

/* -- Media ----------------------------------------------------------------- */
fieldset.replace {
  padding: 0.3em 1em;
}

table.details th {
  font-weight: bold;
  padding-right: 4px;
  text-align: right;
}

table.details.media tr.filename td,
table.details.media tr.path td {
  font-family: Consolas, Monaco, 'Courier New', monospaced;
}

/* -- Welcome Page ---------------------------------------------------------- */
.welcome .version {
  color: #666;
  font-size: 85%; 
  float: right;
}

.welcome dl.customizing { margin-left: 2ex; }
.welcome dl.customizing dt { font-weight: bold; }
.welcome dl.customizing dd { margin: 0 0 1em 0; }
