<h2>New Page</h2>

<% if @page_error %>
  <div class="flash error"><%== @page_error %></div>
<% end %>

<% if @page %>
  <%= Thoth::PageController.render_view(:index) %>
<% end %>

<%=
Thoth::PageController.render_view(:form,
    :form_action => @form_action,
    :page        => @page)
%>
