<h2>New Page</h2>

<% if @page_error %>
  <div class="flash error"><%== @page_error %></div>
<% end %>

<% if @page %>
  <%= render_template(:index) %>
<% end %>

<%= render_template(:form, :form_action => @form_action, :page => @page) %>
