<h2>Edit Media</h2>

<%= render_template(:media, :mfile => @file) %>

<% if @media_error %>
  <div class="error"><%= @media_error %></div>
<% end %>

<fieldset class="replace">
  <legend>Replace File</legend>
  <%= render_template(:form, :form_action => @form_action) %>
</fieldset>
