<form class="media" action="<%= form_action %>" method="post"
    enctype="multipart/form-data">
  <p>
    <input type="file" name="file" id="file" />
    <input type="submit" value="Upload" />
  </p>
</form>
