#
# thoth.conf - Thoth configuration file.
#
# Customize this file as desired. You only need to uncomment the settings you
# want to change. You must restart Thoth before configuration changes will take
# effect.
#

# Settings for production mode.
Configuration.for("thoth_production") {

  # Connection URI for the production database. Currently SQLite3 and MySQL are
  # supported. PostgreSQL may work, but hasn't been tested.
  #
  # Sample SQLite3 config:
  #   db "sqlite:////absolute/path/to/database.db"
  #
  # Sample MySQL config:
  #   db "mysql://user:pass@hostname/database"
  #
  # db "sqlite:///#{Thoth::HOME_DIR}/db/production.db"

  site {

    # Name of your blog. This will be displayed as the title of your blog's
    # index page and in your blog's feeds.
    #
    # name "New Thoth Blog"

    # A brief description or subtitle for your blog.
    #
    # desc "Thoth is awesome."

    # Base URL of your site. This is necessary in order for Thoth to know how
    # to construct links. Be sure to set this correctly or links may not work.
    #
    # url "http://localhost:7000/"

    # Whether or not to allow visitors to post comments in response to blog
    # posts.
    #
    # enable_comments true

    # Whether or not you want to expose a sitemap for your blog. A sitemap is
    # an XML file that gives search engines information about all the URLs on
    # your site so they can index them more easily.
    #
    # If enabled, you'll be able to see your sitemap at
    # http://yourdomain.com/sitemap and you can submit this URL to search
    # engines to improve the indexing of your site (and possibly your PageRank).
    #
    # enable_sitemap true

  }

  admin {

    # Your name. This will be displayed in the copyright notice at the bottom of
    # the page, and will be used as the author name for your site's feeds.
    #
    # name "John Doe"

    # Your email address. If you leave this blank or comment it out, it won't be
    # displayed.
    #
    # email ""

    # Administrator username. This is the name you'll use to log into Thoth.
    #
    # user "thoth"

    # Administrator password.
    #
    # pass "thoth"

    # String of random characters to add uniqueness to the admin auth cookie.
    # You should uncomment this now and fill it with nonsense.
    #
    # seed "43c55@051a19a/4f88a3ff+355cd1418"

  }

  theme {

    # Absolute path to a directory containing customized static files such as
    # CSS, JS, and images. Use this in conjunction with the "view" setting to
    # create your own customized Thoth theme. Any files in this directory will
    # override the corresponding default files.
    #
    # public "#{Thoth::HOME_DIR}/public"

    # Absolute path to a directory containing customized view templates. Any
    # templates in this directory will override the corresponding default
    # templates.
    #
    # view "#{Thoth::HOME_DIR}/view"

  }

  # Absolute path to a directory where uploaded media files (images, videos,
  # etc.) for your blog posts and pages should be stored. This directory needs
  # to be readable and writeable by the user running the Thoth server.
  #
  # media "#{Thoth::HOME_DIR}/media"

  # Plugins that should be loaded when Thoth starts. Usually it's not
  # necessary to load a plugin until the first time it's used, but some plugins
  # alter core functionality and thus must be loaded at start time.
  #
  # Example:
  #   plugins ['foo', 'bar', 'baz']
  #
  # plugins []

  server {
    # Ramaze server adapter to use. This can be any adapter Ramaze supports.
    #
    # adapter :thin

    # IP address on which the Thoth server should listen for connections.
    #
    # address "0.0.0.0"

    # Port on which the Thoth server should listen for connections.
    #
    # port 7000

    # Whether or not to compile view templates instead of re-parsing them on
    # each request. This will improve performance, but you will need to restart
    # Thoth in order for template changes to take effect.
    #
    # compile_views true

    # Whether or not to enable caching. Enabling caching will significantly
    # improve Thoth's performance under heavy traffic, but new comments and
    # other changes may take a minute or two to become visible.
    #
    # enable_cache true

    # Whether or not to enable automatic, on the fly minification of your blog's
    # external CSS and JavaScript files. Enabling minification will reduce
    # pageweight and is a great way to improve performance, but you'll need to
    # restart Thoth in order for CSS and JS changes to take effect.
    #
    # enable_minify true

    # Filename to which errors should be logged when running in production mode,
    # or blank if you don't care about errors.
    #
    # error_log "#{Thoth::HOME_DIR}/error.log"

  }

  timestamp {

    # Format for long timestamps. For details, see:
    # http://www.ruby-doc.org/core/classes/Time.html#M000297
    #
    # long "%A %B %d, %Y @ %I:%M %p (%Z)"

    # Format for short timestamps. For details, see:
    # http://www.ruby-doc.org/core/classes/Time.html#M000297
    #
    # short "%Y-%m-%d %I:%M"

  }

}

# Settings for devel mode. All the defaults are the same as production except
# for the differences you see here.
Configuration.for("thoth_devel") {

  # db "sqlite:///#{Thoth::HOME_DIR}/db/devel.db"

  # server {
  # 
  #   compile_views false
  #   enable_cache false
  #   enable_minify false
  # 
  # }

}
