#
# thoth.conf - Thoth configuration file.
#
# Customize this file as desired. You must restart Thoth before configuration
# changes will take effect.
#
# This file is YAML, but you may also use Erubis expressions to insert variables
# or run Ruby code.
#

# Settings for live mode.
live:

  # Connection URI for the database. Currently SQLite3 and MySQL are supported.
  # PostgreSQL may work, but hasn't been tested.
  #
  # Sample SQLite3 config:
  #   db: sqlite:////absolute/path/to/database.db
  #
  # Sample MySQL config:
  #   db: mysql://user:pass@hostname/database
  db: sqlite:///<%= Thoth::HOME_DIR %>/db/live.db

  # General site settings.
  site:
    # Name of your blog. This will be displayed as the title of your blog's
    # index page and in your blog's feeds.
    name: New Thoth Blog

    # A brief description or subtitle for your blog.
    desc: Thoth is awesome.

    # Base URL of your site. This is necessary in order for Thoth to know how
    # to construct links. Be sure to set this correctly or links may not work.
    url: http://localhost:7000/

    # URLs of CSS files to load in addition to the default Thoth CSS. You can
    # override Thoth's default styles by specifying your own CSS files here.
    # These can be relative or absolute URLs.
    #
    # Example:
    #   css:
    #     - /css/foo.css
    #     - 'http://example.com/bar.css'
    css: []

    # URLs of JS files to load in addition to the default Thoth JS. You can
    # extend or override Thoth's JS or add functionality by specifying your own
    # JS files here. These can be relative or absolute URLs.
    #
    # Example:
    #   js:
    #     - /js/foo.js
    #     - 'http://example.com/bar.js'
    #
    js: []

    # Whether or not to allow visitors to post comments in response to blog
    # posts.
    enable_comments: true

    # Whether or not you want to expose a sitemap for your blog. A sitemap is
    # an XML file that gives search engines information about all the URLs on
    # your site so they can index them more easily.
    #
    # If enabled, you'll be able to see your sitemap at
    # http://yourdomain.com/sitemap and you can submit this URL to search
    # engines to improve the indexing of your site (and possibly your pagerank).
    enable_sitemap: true

    # Gravatar settings.
    gravatar:
      # Whether or not to enable Gravatar images on comments. Gravatar is a free
      # service that allows people to associate profile images with an email
      # address so that their postings on blogs and other websites are easily
      # identifiable. Learn more at http://www.gravatar.com/.
      enabled: true

      # Default icon set to use for users who don't have custom Gravatars. See
      # gravatar.com for the latest options. As of this writing, the available
      # choices are "identicon" (geometric shapes), "monsterids" (cutesy little
      # monsters), and "wavatars" (cutesy geometric shapes).
      #
      # Alternatively, you can specify the URL of your own custom image here and
      # that image will be used instead.
      default: identicon

      # Maximum Gravatar rating to allow. Available ratings are "g", "pg", "r",
      # and "x". Just like with movies, "r" and "x"-rated Gravatars may contain
      # adult content.
      rating: g

      # Gravatar size in pixels. This sets both the width and the height.
      size: 32

  # Administrator settings.
  admin:
    # Your name. This will be displayed in the copyright notice at the bottom of
    # the page, and will be used as the author name for your site's feeds.
    name: John Doe

    # Your email address. If you leave this blank or comment it out, it won't be
    # displayed.
    email: ''

    # Administrator username. This is the name you'll use to log into Thoth.
    user: thoth

    # Administrator password. By default this is a random number, so you won't
    # be able to log in until you change this!
    pass: thoth

    # String of random characters to add uniqueness to the admin auth cookie
    # hash. Just fill this with some made-up nonsense.
    seed: 6d552ac197a862b82b85868d6c245feb

  # Plugins that should be loaded when Thoth starts. Usually it's not
  # necessary to load a plugin until the first time it's used, but some plugins
  # alter core functionality and thus must be loaded at start time.
  #
  # Example:
  #   plugins:
  #     - foo
  #     - bar
  #     - baz
  plugins: []

  # Absolute path to a directory where uploaded media files (images, videos,
  # etc.) for your blog posts and pages should be stored. This directory needs
  # to be readable and writeable by the user running the Thoth server.
  media: <%= Thoth::HOME_DIR %>/media

  # Server settings.
  server:
    # Server adapter to use. This can be any adapter Ramaze supports.
    adapter: webrick

    # IP address on which Thoth should listen for connections. Specify 0.0.0.0
    # if you want Thoth to listen on all addresses.
    address: 0.0.0.0

    # Port on which the Thoth server should listen for connections.
    port: 7000

    # Whether or not to enable caching. Enabling caching will significantly
    # improve Thoth's performance under heavy traffic, but new comments and
    # other changes may take a minute or two to become visible.
    enable_cache: true

    # Whether or not to enable automatic, on the fly minification of your blog's
    # external CSS and JavaScript files. Enabling minification will reduce
    # page weight and is a great way to improve performance, but you'll need to
    # restart Thoth in order for CSS and JS changes to take effect.
    enable_minify: true

    # Filename to which errors should be logged when running in production mode,
    # or blank if you don't care about errors.
    error_log: <%= Thoth::HOME_DIR %>/log/error.log

  # Timestamp formats.
  timestamp:
    # Format for long timestamps. For details, see:
    # http://www.ruby-doc.org/core/classes/Time.html#M000297
    long: '%A %B %d, %Y @ %I:%M %p (%Z)'

    # Format for short timestamps. For details, see:
    # http://www.ruby-doc.org/core/classes/Time.html#M000297
    short: '%Y-%m-%d %I:%M'

# Settings for dev mode. Any setting that you don't explicitly specify here will
# just inherit from live mode.
dev:
  db: sqlite:///<%= Thoth::HOME_DIR %>/db/dev.db

  server:
    enable_minify: false
