<div id="comments">
  <h3>Comments</h3>

  <% @post.comments.all.each do |comment| %>
    <%= render_template('../comment/comment.rhtml', :comment => comment) %>
  <% end %>
</div>

<%=
render_template('../comment/form.rhtml', :comment => @preview,
    :form_action => @comment_action)
%>
