<h2>Delete Post</h2>

<p>
  Are you sure you want to permanently delete the following blog post?
</p>

<%= render_template(:compact, :post => @post) %>

<form action="<%= Rs(:delete, @post.id) %>" method="post">
  <p>
    <button name="confirm" value="yes">Yes, delete this blog post forever</button>
    <button name="confirm" value="no">No, do not delete this blog post</button>
  </p>
</form>
