<h2>Edit Blog Post</h2>

<% if @post_error %>
  <div class="error"><%= @post_error %></div>
<% end %>

<%= render_template(:form, :form_action => @form_action, :post => @post) %>

<% if @post %>
  <%= render_template(:compact, :post => @post) %>
<% end %>
