<h2>Edit Blog Post<%== @post.is_draft ? ' (Draft)' : '' %></h2>

<% if @post_error %>
  <div class="flash error"><%== @post_error %></div>
<% end %>

<% if @post %>
  <%= Thoth::PostController.render_view(:compact, :post => @post) %>
<% end %>

<%=
Thoth::PostController.render_view(:form,
    :form_action => @form_action,
    :post        => @post)
%>
