<link rel="stylesheet" type="text/css" href="/css/thoth.css" />

<% if auth_key_valid? %>
  <link rel="stylesheet" type="text/css" href="/css/admin.css" />
<% end %>

<% Thoth::Config.site['css'].each do |url| %>
  <link rel="stylesheet" type="text/css" href="<%== url %>" />
<% end %>
