<div id="ft">
  Copyright &copy; <%= Time.now.year %>

  <% if Thoth::Config.admin.email.empty? %>
    <%== Thoth::Config.admin.name %>.
  <% else %>
    <a href="mailto:<%== Thoth::Config.admin.email %>">
      <%== Thoth::Config.admin.name %></a>.
  <% end %>

  All rights reserved.

  <br />
  Powered by <a href="http://thothblog.org/">Thoth</a>.
</div>
