<div class="hfeed">
  <% @posts.all do |post| %>
    <%= render_view('post/compact', :post => post) %>
  <% end %>
</div>

<%=
render_view('util/pager',
    :prev_text => '&laquo; Newer stuff',
    :next_text => 'Older stuff &raquo;')
%>
