<div class="hfeed">
  <% @posts.all do |post| %>
    <%= Thoth::PostController.render_view('compact', :post => post) %>
  <% end %>
</div>

<%=
Thoth::MainController.render_view('util/pager',
    :prev_text => '&laquo; Newer stuff',
    :next_text => 'Older stuff &raquo;')
%>
