<% @posts.all do |post| %>
  <%= render_template('post/compact', :post => post) %>
<% end %>

<% if @prev_url || @next_url %>
  <%= 
  render_template(:pager,
      :prev_url  => @prev_url,
      :next_url  => @next_url,
      :prev_text => '&laquo; Newer stuff',
      :next_text => 'Older stuff &raquo;')
  %>
<% end %>
