<script type="text/javascript" src="/js/lazyload-min.js"></script>
<script type="text/javascript">
LazyLoad.js(['<%== (Thoth::Config.site["core_js"] + Thoth::Config.site["js"]).uniq.join("','") %>'], function () {
  Thoth.init(<%== auth_key_valid? ? "true, '#{form_token}'" : '' %>);
});
</script>
