<div id="ft">
  <p id="copyright">
    Copyright &copy; <%= Time.now.year %>

    <% if Riposte::Config.admin.email.empty? %>
      <%= h(Riposte::Config.admin.name) %>.
    <% else %>
      <a href="mailto:<%= h(Riposte::Config.admin.email) %>">
        <%= h(Riposte::Config.admin.name) %></a>.
    <% end %>

    All rights reserved.
  </p>
</div>
